body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: #fffcf4;
}
.navbar{
    display: flex;
    justify-content:    space-between;
    align-items: center;
    padding: 20px 50px;
}
.logo img{
    width: 40px;
}
.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: #444;
    font-size: 18px;
    padding-bottom: 5px;    
}
.menu a.active {
    border-bottom: 2px solid black;
}
.signup {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;   
    display: inline-block;
}
.fa-instagram{
    font-size: 40px;
}
.hero{
    padding: 56px 0 65px; 
    background: #fffcf4;
}
.hero-body {
    display: flex;
}
.img{
    position: relative; /*giữ nguyên có thể chồng thêm */
    width: 48%;
}
.img .imgins{
    width: 100%;
    height: auto;
    max-height: 50rem;
    object-fit: cover;
    border-radius: 20px;
}
.course-info {
    position: absolute; /*chồng lên ảnh*/
    bottom: 48px;
    right: -100px;    
    background-color: white;
    border-radius: 12px;
    width: 270px;
    padding: 24px;
    box-shadow: 0px 16px 32px 0 rgba(0,0,0,0.05);
}

.course-item {
    display: flex;
    align-items: center;
}

.course-item p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    
}
.course-item strong{
    margin-top: 5px;
    align-items: center;
    margin-left: 15px;
} 
.icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon.uiux{
    background-color: #ffeeba;
}
.icon.dev{
    background-color: #ffd7d7;
}
.icon.Marketing{
    background-color: #ddeeff;
}
.hero-content{
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}
.hero-content h1{
    font-size: 36px;
}
.hero-content p{
    font-size: 16px;
    color: #555;
}
.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.hero-buttons a{
    text-decoration: none; /*bỏ gạch chân của a*/
    padding: 12px 24px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: bold;  
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
.hero-buttons a:hover {
    background-color: #fdd835;
}
.nut1{
    background-color: #ffba08;
    color: white;
}
.watch-video{
    display: flex;
    align-items: center;
    gap: 15px;
    color: black;
}
.play-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center; /*căn giữa theo trục chính*/
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2) ;
    transition: ease-in-out;
}
.play-button i{
    color: #ffba08;
    font-size: 16px;
}
.hero-stat{
    margin-top: 40px;
}
.hero-stat p{
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.hero-stat .container{
    display: flex;
    gap: 40px;
}
.stat-item strong{
    font-size: 24px;
}
.stat-item span{
    font-size: 15px;
    color: #666;
}
.media-block{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
    
}
.courses {
    padding: 6.5rem 0;
    margin-top: 13.5rem;
    background-color: #fff;
}
.courses h2 {
    color: #171100;
    font-weight: 700;
    font-size: 28px
}
.courses p{
    margin-top: 16px;
    color: #5f5b53;
    font-size: 18px;
    width: 458px;
}
.courses-list{
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.courses-card {
    width: calc(33.333% - 20px);
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background-color: white;
   transition: all 0.3s ease-in-out;
    
}
.courses-card:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0).2;
    border: none;
    transform: translateY(-5px);
}
.courses-card  img{
    width: 100%;
    border-radius: 12px 12px 0 0;
    height: 278px;
    object-fit: cover;
}
.courses-card h3 {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-left: 20px;
}
.courses a {
    text-decoration: none;
}
.courses-card p {
    color: #5f5b53;
    font-size: 14px;
    margin-top:6px ;
    max-width: 90%;
    margin-left: 20px;
    line-height: 1.86;
}
.rating {
    display: flex;
    align-items: center;
    color: #ffa500;
    margin: 0 15px;
    display: inline-flex;
}
.rating i{
    margin-right: 5px;
    margin-left: 100px;
}
.price {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}
.courses button {
    height: 50px;
    width: 100px;
    background-color: #171100;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 150px;
}
button:hover {
    background-color: #333;
}
.testimonial {
    padding: 96px 0;
    margin-top: 135px;
    background: #2e2100;
}
.testimonial .testimonial-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;

}
.testimonial .testimonial-content .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial .testimonial-content .testimonial-info {
    width: 158.83px;
    height: 190.82px;
    flex-shrink: 0;
}
.testimonial-content .testimonial-info .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.42;
}
.testimonial-content .testimonial-info .text {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 14px;
    line-height: 1.86;
    position: relative;
}
.testimonial-content .dots {
    display: flex;
    margin-top: 28px;
    gap:6px;
}
.testimonial-content .dot-active {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fbc02d;
    cursor: default;
}
.testimonial-content .dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #634700;
}
.testimonial-content .testimonial-text {
    width: 66%;
    margin-left: auto;
}
.testimonial-content blockquote {
    color: #fff;
    font-size: 26px;
    font-style: italic;
    line-height: 1.54;
}
.testimonial-text img {
    position: absolute;
    left: 400px;
}
.outcomes {
    margin-top: 135px;
    padding: 65px;
}
.outcomes .body {
    display: flex;
   
}
.outcomes .images {
    display: flex;
    gap: 30px;
}
.outcomes .images img {
    width: 270px;
    height: 405px;
    border-radius: 16px;
}
.outcomes .left {
    margin-top: 34px;
}
.outcomes .outcomes-content {
    width: 41%;
    padding-left: 10px;
}
.outcomes-content h2 {
    color: #171100;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.27;
}
.outcomes-content p {
    font-size: 16px;
    margin-top: 16px;
    color: #5f5b53;
    line-height: 1.75;
}
.outcomes .btn {
    width: 137px;
    height: 50px;
    margin-top: 32px;
    border-radius: 999px;
    background-color: #fbc02d;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    line-height: 50px;
}
.outcomes .btn:hover {
    background-color: #fdd835;
}
.intro {
    margin-top: 70px;
}
.intro .body {
    display: flex;
    flex-direction: row-reverse;
}
.intro .images img {
    width: 470px;
    height: 440px   ;
    border-radius: 16px;
}
.intro .intro-content {
    width: 49%;
}
.intro-content h2 {
    color: #171100;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.27;
}
.intro-content p {
    font-size: 16px;
    margin-top: 16px;
    color: #5f5b53;
    line-height: 1.75;
}
.intro .btn {
    width: 137px;
    height: 50px;
    margin-top: 32px;
    border-radius: 999px;
    background-color: #fbc02d;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    line-height: 50px;
}
.intro .btn:hover {
    background-color: #fdd835;
}
.blog {
    margin-top: 135px;
    background-color: #fffcf4;
    padding: 96px 0;
}
.blog .blog-top {
    text-align: center;
}
.blog-top h2 {
    color: #171100;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.27;   
}
.blog-top p {
    color: #696262;
    font-size: 16px;
    line-height: 1.75;
    width: 448px;
    margin: 16px auto 0;
}
.blog .blog-container {
    display:flex ;
    margin-top: 55px;
    gap: 30px;
}
.blog .blog-card {
    width: calc(33.33% - 22px);
    background: #fff;
    border-radius: 16px;
}
a {
    text-decoration: none;
}
.blog .blog-card .anh {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
}
.blog .blog-card .blog-info {
    padding: 20px 20px 28px;
}
.blog .blog-card .date {
    position: relative;
    padding-bottom: 12px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: #5f5b53;
    line-height: 1.86;
}
.blog-card .date::before {
    content: " ";
    margin-right: 4px;
    width: 6px;
    height: 6px;
    background: #fbc02d ;
    border-radius: 50%;
}
.blog-card .date::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    right: -27px;   
    content: " ";
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}
.blog .blog-card .blog-title {
    margin-top: 12px;
    color: #171100;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}
.blog .blog-card .btn {
    width: 137px;
    height: 50px;
    margin-top: 12px;
    border-radius: 999px;
    background-color: #171100;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    line-height: 50px;
    font-size: 14px;
}
.blog-card .btn:hover {
    background-color: #fdd835;
}
.blog .dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 38px;
  align-items: center;
}
.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}
.blog .dot.active {
    cursor: none;
    background-color:#ffa500 ;
}
.blog .blog-card {
    transition: box-shadow 0.3s ease-in-out;
}

.blog .blog-card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.footer {
    background: #2e2100;
    padding: 96px 135px 0;
}
.footer .footer-container {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}
.footer .footer-container .column-intro {
    width: 35%;
}
.footer .footer-container .column {
    width: 21.6%;
}
.footer .text {
    margin-top: 18px;
    max-width: 267px;
    color: #bfbcb2;
    font-size: 14px;
    line-height: 1.86;
}
.footer .social-network {
    display: flex;
    margin-top: 18px;
    gap: 18px
}
.footer .icon {
    width: 18px;
    height: 15px;
}
.footer .title {
    display: inline-block;
    padding-right: 48px;
    padding-bottom: 14px;
    border-bottom: 1px solid #59554b;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}
.footer .list {
    margin-top: 28px;
    padding-left: 0;
}
.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    color: #bfbcb2;
    font-size: 14px;
    line-height: 1.86;
}
ul { list-style: none;}

.footer .footer-bottom {
    padding: 28px 0;
    color: #807b74;
    text-align: center;
    font-size: 14px;
    line-height: 1.86;
}


